<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>1001</real>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1001</integer>
				<key>name</key>
				<string>北京</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1002</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1002</integer>
				<key>name</key>
				<string>天津</string>
			</dict>
		</array>
		<key>name</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1003</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1003</integer>
				<key>name</key>
				<string>上海</string>
			</dict>
		</array>
		<key>name</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1004</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1004</integer>
				<key>name</key>
				<string>重庆</string>
			</dict>
		</array>
		<key>name</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2001</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2001001</integer>
				<key>name</key>
				<string>石家庄</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001002</integer>
				<key>name</key>
				<string>唐山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001003</integer>
				<key>name</key>
				<string>秦皇岛</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001004</integer>
				<key>name</key>
				<string>邯郸</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001005</integer>
				<key>name</key>
				<string>邢台</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001006</integer>
				<key>name</key>
				<string>保定</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001007</integer>
				<key>name</key>
				<string>张家口</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001008</integer>
				<key>name</key>
				<string>承德</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001009</integer>
				<key>name</key>
				<string>沧州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001010</integer>
				<key>name</key>
				<string>廊坊</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2001011</integer>
				<key>name</key>
				<string>衡水</string>
			</dict>
		</array>
		<key>name</key>
		<string>河北</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2002</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2002001</integer>
				<key>name</key>
				<string>太原</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002002</integer>
				<key>name</key>
				<string>大同</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002003</integer>
				<key>name</key>
				<string>阳泉</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002004</integer>
				<key>name</key>
				<string>长治</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002005</integer>
				<key>name</key>
				<string>晋城</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002006</integer>
				<key>name</key>
				<string>朔州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002007</integer>
				<key>name</key>
				<string>晋中</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002008</integer>
				<key>name</key>
				<string>运城</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002009</integer>
				<key>name</key>
				<string>忻州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002010</integer>
				<key>name</key>
				<string>临汾</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002011</integer>
				<key>name</key>
				<string>吕梁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2002012</integer>
				<key>name</key>
				<string>永济市</string>
			</dict>
		</array>
		<key>name</key>
		<string>山西</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2003</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2003001</integer>
				<key>name</key>
				<string>呼和浩特</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003002</integer>
				<key>name</key>
				<string>包头</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003003</integer>
				<key>name</key>
				<string>乌海</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003004</integer>
				<key>name</key>
				<string>赤峰</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003005</integer>
				<key>name</key>
				<string>通辽</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003006</integer>
				<key>name</key>
				<string>鄂尔多斯</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003007</integer>
				<key>name</key>
				<string>呼伦贝尔</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003008</integer>
				<key>name</key>
				<string>兴安盟</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003009</integer>
				<key>name</key>
				<string>锡林郭勒盟</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003010</integer>
				<key>name</key>
				<string>乌兰察布</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003011</integer>
				<key>name</key>
				<string>巴彦淖尔</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2003012</integer>
				<key>name</key>
				<string>阿拉善盟</string>
			</dict>
		</array>
		<key>name</key>
		<string>内蒙古</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2004</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2004001</integer>
				<key>name</key>
				<string>沈阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004002</integer>
				<key>name</key>
				<string>大连</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004003</integer>
				<key>name</key>
				<string>鞍山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004004</integer>
				<key>name</key>
				<string>抚顺</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004005</integer>
				<key>name</key>
				<string>本溪</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004006</integer>
				<key>name</key>
				<string>丹东</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004007</integer>
				<key>name</key>
				<string>锦州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004008</integer>
				<key>name</key>
				<string>营口</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004009</integer>
				<key>name</key>
				<string>阜新</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004010</integer>
				<key>name</key>
				<string>辽阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004011</integer>
				<key>name</key>
				<string>盘锦</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004012</integer>
				<key>name</key>
				<string>铁岭</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004013</integer>
				<key>name</key>
				<string>朝阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2004014</integer>
				<key>name</key>
				<string>葫芦岛</string>
			</dict>
		</array>
		<key>name</key>
		<string>辽宁</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2005</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2005001</integer>
				<key>name</key>
				<string>长春</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005002</integer>
				<key>name</key>
				<string>吉林</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005003</integer>
				<key>name</key>
				<string>四平</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005004</integer>
				<key>name</key>
				<string>辽源</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005005</integer>
				<key>name</key>
				<string>通化</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005006</integer>
				<key>name</key>
				<string>白山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005007</integer>
				<key>name</key>
				<string>松原</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005008</integer>
				<key>name</key>
				<string>白城</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005009</integer>
				<key>name</key>
				<string>延吉</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2005010</integer>
				<key>name</key>
				<string>延边朝鲜族自治区</string>
			</dict>
		</array>
		<key>name</key>
		<string>吉林</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2006</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2006001</integer>
				<key>name</key>
				<string>哈尔滨</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006002</integer>
				<key>name</key>
				<string>齐齐哈尔</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006003</integer>
				<key>name</key>
				<string>鸡西</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006004</integer>
				<key>name</key>
				<string>鹤岗</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006005</integer>
				<key>name</key>
				<string>双鸭山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006006</integer>
				<key>name</key>
				<string>大庆</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006007</integer>
				<key>name</key>
				<string>伊春</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006008</integer>
				<key>name</key>
				<string>佳木斯</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006009</integer>
				<key>name</key>
				<string>七台河</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006010</integer>
				<key>name</key>
				<string>牡丹江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006011</integer>
				<key>name</key>
				<string>黑河</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006012</integer>
				<key>name</key>
				<string>绥化</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2006013</integer>
				<key>name</key>
				<string>大兴安岭地区</string>
			</dict>
		</array>
		<key>name</key>
		<string>黑龙江</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2007</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2007001</integer>
				<key>name</key>
				<string>南京</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007002</integer>
				<key>name</key>
				<string>无锡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007003</integer>
				<key>name</key>
				<string>徐州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007004</integer>
				<key>name</key>
				<string>常州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007005</integer>
				<key>name</key>
				<string>苏州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007006</integer>
				<key>name</key>
				<string>昆山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007007</integer>
				<key>name</key>
				<string>南通</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007008</integer>
				<key>name</key>
				<string>连云港</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007009</integer>
				<key>name</key>
				<string>淮安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007010</integer>
				<key>name</key>
				<string>盐城</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007011</integer>
				<key>name</key>
				<string>扬州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007012</integer>
				<key>name</key>
				<string>镇江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007013</integer>
				<key>name</key>
				<string>泰州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007014</integer>
				<key>name</key>
				<string>宿迁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007015</integer>
				<key>name</key>
				<string>靖江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007016</integer>
				<key>name</key>
				<string>常熟</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007017</integer>
				<key>name</key>
				<string>江阴</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007018</integer>
				<key>name</key>
				<string>张家港</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007019</integer>
				<key>name</key>
				<string>太仓市</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007020</integer>
				<key>name</key>
				<string>吴江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007021</integer>
				<key>name</key>
				<string>丹阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007022</integer>
				<key>name</key>
				<string>溧阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007023</integer>
				<key>name</key>
				<string>泰兴</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2007024</integer>
				<key>name</key>
				<string>宜兴</string>
			</dict>
		</array>
		<key>name</key>
		<string>江苏</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2008</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2008001</integer>
				<key>name</key>
				<string>杭州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008002</integer>
				<key>name</key>
				<string>宁波</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008003</integer>
				<key>name</key>
				<string>温州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008004</integer>
				<key>name</key>
				<string>嘉兴</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008005</integer>
				<key>name</key>
				<string>湖州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008006</integer>
				<key>name</key>
				<string>绍兴</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008007</integer>
				<key>name</key>
				<string>金华</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008008</integer>
				<key>name</key>
				<string>衢州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008009</integer>
				<key>name</key>
				<string>舟山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008010</integer>
				<key>name</key>
				<string>台州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008011</integer>
				<key>name</key>
				<string>丽水</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008012</integer>
				<key>name</key>
				<string>玉环县</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008013</integer>
				<key>name</key>
				<string>方家山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008014</integer>
				<key>name</key>
				<string>萧山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008015</integer>
				<key>name</key>
				<string>义乌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008016</integer>
				<key>name</key>
				<string>慈溪</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2008017</integer>
				<key>name</key>
				<string>海宁</string>
			</dict>
		</array>
		<key>name</key>
		<string>浙江</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2009</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2009001</integer>
				<key>name</key>
				<string>合肥</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009002</integer>
				<key>name</key>
				<string>芜湖</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009003</integer>
				<key>name</key>
				<string>蚌埠</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009004</integer>
				<key>name</key>
				<string>淮南</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009005</integer>
				<key>name</key>
				<string>马鞍山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009006</integer>
				<key>name</key>
				<string>淮北</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009007</integer>
				<key>name</key>
				<string>铜陵</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009008</integer>
				<key>name</key>
				<string>安庆</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009009</integer>
				<key>name</key>
				<string>黄山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009010</integer>
				<key>name</key>
				<string>滁州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009011</integer>
				<key>name</key>
				<string>阜阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009012</integer>
				<key>name</key>
				<string>宿州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009013</integer>
				<key>name</key>
				<string>巢湖</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009014</integer>
				<key>name</key>
				<string>六安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009015</integer>
				<key>name</key>
				<string>亳州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009016</integer>
				<key>name</key>
				<string>池州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2009017</integer>
				<key>name</key>
				<string>宣城</string>
			</dict>
		</array>
		<key>name</key>
		<string>安徽</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2010</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2010001</integer>
				<key>name</key>
				<string>福州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010002</integer>
				<key>name</key>
				<string>厦门</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010003</integer>
				<key>name</key>
				<string>莆田</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010004</integer>
				<key>name</key>
				<string>三明</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010005</integer>
				<key>name</key>
				<string>泉州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010006</integer>
				<key>name</key>
				<string>泉港区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010007</integer>
				<key>name</key>
				<string>漳州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010008</integer>
				<key>name</key>
				<string>南平</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010009</integer>
				<key>name</key>
				<string>龙岩</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2010010</integer>
				<key>name</key>
				<string>宁德</string>
			</dict>
		</array>
		<key>name</key>
		<string>福建</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2011</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2011001</integer>
				<key>name</key>
				<string>南昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011002</integer>
				<key>name</key>
				<string>景德镇</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011003</integer>
				<key>name</key>
				<string>萍乡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011004</integer>
				<key>name</key>
				<string>九江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011005</integer>
				<key>name</key>
				<string>新余</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011006</integer>
				<key>name</key>
				<string>鹰潭</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011007</integer>
				<key>name</key>
				<string>赣州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011008</integer>
				<key>name</key>
				<string>吉安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011009</integer>
				<key>name</key>
				<string>宜春</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011010</integer>
				<key>name</key>
				<string>抚州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2011011</integer>
				<key>name</key>
				<string>上饶</string>
			</dict>
		</array>
		<key>name</key>
		<string>江西</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2012</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2012001</integer>
				<key>name</key>
				<string>济南</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012002</integer>
				<key>name</key>
				<string>青岛</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012003</integer>
				<key>name</key>
				<string>淄博</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012004</integer>
				<key>name</key>
				<string>枣庄</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012005</integer>
				<key>name</key>
				<string>东营</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012006</integer>
				<key>name</key>
				<string>烟台</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012007</integer>
				<key>name</key>
				<string>潍坊</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012008</integer>
				<key>name</key>
				<string>济宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012009</integer>
				<key>name</key>
				<string>泰安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012010</integer>
				<key>name</key>
				<string>威海</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012011</integer>
				<key>name</key>
				<string>日照</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012012</integer>
				<key>name</key>
				<string>莱芜</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012013</integer>
				<key>name</key>
				<string>临沂</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012014</integer>
				<key>name</key>
				<string>德州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012015</integer>
				<key>name</key>
				<string>聊城</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012016</integer>
				<key>name</key>
				<string>滨州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012017</integer>
				<key>name</key>
				<string>菏泽</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012018</integer>
				<key>name</key>
				<string>章丘市</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2012019</integer>
				<key>name</key>
				<string>荣成</string>
			</dict>
		</array>
		<key>name</key>
		<string>山东</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2013</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2013001</integer>
				<key>name</key>
				<string>郑州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013002</integer>
				<key>name</key>
				<string>开封</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013003</integer>
				<key>name</key>
				<string>洛阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013004</integer>
				<key>name</key>
				<string>平顶山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013005</integer>
				<key>name</key>
				<string>安阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013006</integer>
				<key>name</key>
				<string>鹤壁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013007</integer>
				<key>name</key>
				<string>新乡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013008</integer>
				<key>name</key>
				<string>焦作</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013009</integer>
				<key>name</key>
				<string>濮阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013010</integer>
				<key>name</key>
				<string>许昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013011</integer>
				<key>name</key>
				<string>漯河</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013012</integer>
				<key>name</key>
				<string>三门峡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013013</integer>
				<key>name</key>
				<string>南阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013014</integer>
				<key>name</key>
				<string>商丘</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013015</integer>
				<key>name</key>
				<string>信阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013016</integer>
				<key>name</key>
				<string>周口</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013017</integer>
				<key>name</key>
				<string>驻马店</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2013018</integer>
				<key>name</key>
				<string>济源</string>
			</dict>
		</array>
		<key>name</key>
		<string>河南</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2014</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2014001</integer>
				<key>name</key>
				<string>武汉</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014002</integer>
				<key>name</key>
				<string>黄石</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014003</integer>
				<key>name</key>
				<string>十堰</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014004</integer>
				<key>name</key>
				<string>宜昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014005</integer>
				<key>name</key>
				<string>襄阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014006</integer>
				<key>name</key>
				<string>鄂州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014007</integer>
				<key>name</key>
				<string>荆门</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014008</integer>
				<key>name</key>
				<string>孝感</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014009</integer>
				<key>name</key>
				<string>荆州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014010</integer>
				<key>name</key>
				<string>黄冈</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014011</integer>
				<key>name</key>
				<string>咸宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014012</integer>
				<key>name</key>
				<string>随州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014013</integer>
				<key>name</key>
				<string>仙桃</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014014</integer>
				<key>name</key>
				<string>潜江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014015</integer>
				<key>name</key>
				<string>天门</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014016</integer>
				<key>name</key>
				<string>神农架</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2014017</integer>
				<key>name</key>
				<string>恩施土家族苗族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>湖北</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2015</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2015001</integer>
				<key>name</key>
				<string>长沙</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015002</integer>
				<key>name</key>
				<string>株洲</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015003</integer>
				<key>name</key>
				<string>湘潭</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015004</integer>
				<key>name</key>
				<string>衡阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015005</integer>
				<key>name</key>
				<string>邵阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015006</integer>
				<key>name</key>
				<string>岳阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015007</integer>
				<key>name</key>
				<string>常德</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015008</integer>
				<key>name</key>
				<string>张家界</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015009</integer>
				<key>name</key>
				<string>益阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015010</integer>
				<key>name</key>
				<string>郴州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015011</integer>
				<key>name</key>
				<string>永州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015012</integer>
				<key>name</key>
				<string>怀化</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015013</integer>
				<key>name</key>
				<string>娄底</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2015014</integer>
				<key>name</key>
				<string>湘西土家族苗族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>湖南</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2016</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2016001</integer>
				<key>name</key>
				<string>广州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016002</integer>
				<key>name</key>
				<string>韶关</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016003</integer>
				<key>name</key>
				<string>深圳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016004</integer>
				<key>name</key>
				<string>珠海</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016005</integer>
				<key>name</key>
				<string>汕头</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016006</integer>
				<key>name</key>
				<string>佛山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016007</integer>
				<key>name</key>
				<string>江门</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016008</integer>
				<key>name</key>
				<string>湛江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016009</integer>
				<key>name</key>
				<string>茂名</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016010</integer>
				<key>name</key>
				<string>肇庆</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016011</integer>
				<key>name</key>
				<string>惠州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016012</integer>
				<key>name</key>
				<string>梅州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016013</integer>
				<key>name</key>
				<string>汕尾</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016014</integer>
				<key>name</key>
				<string>河源</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016015</integer>
				<key>name</key>
				<string>阳江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016016</integer>
				<key>name</key>
				<string>清远</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016017</integer>
				<key>name</key>
				<string>东莞</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016018</integer>
				<key>name</key>
				<string>中山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016019</integer>
				<key>name</key>
				<string>潮州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016020</integer>
				<key>name</key>
				<string>揭阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016021</integer>
				<key>name</key>
				<string>云浮</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016022</integer>
				<key>name</key>
				<string>顺德</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2016023</integer>
				<key>name</key>
				<string>开平</string>
			</dict>
		</array>
		<key>name</key>
		<string>广东</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2017</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2017001</integer>
				<key>name</key>
				<string>南宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017002</integer>
				<key>name</key>
				<string>柳州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017003</integer>
				<key>name</key>
				<string>桂林</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017004</integer>
				<key>name</key>
				<string>梧州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017005</integer>
				<key>name</key>
				<string>北海</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017006</integer>
				<key>name</key>
				<string>防城港</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017007</integer>
				<key>name</key>
				<string>钦州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017008</integer>
				<key>name</key>
				<string>贵港</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017009</integer>
				<key>name</key>
				<string>玉林</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017010</integer>
				<key>name</key>
				<string>百色</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017011</integer>
				<key>name</key>
				<string>贺州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017012</integer>
				<key>name</key>
				<string>河池</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017013</integer>
				<key>name</key>
				<string>来宾</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2017014</integer>
				<key>name</key>
				<string>崇左</string>
			</dict>
		</array>
		<key>name</key>
		<string>广西</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2018</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2018001</integer>
				<key>name</key>
				<string>海口</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018002</integer>
				<key>name</key>
				<string>三亚</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018003</integer>
				<key>name</key>
				<string>文昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018004</integer>
				<key>name</key>
				<string>琼海</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018005</integer>
				<key>name</key>
				<string>万宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018006</integer>
				<key>name</key>
				<string>儋州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018007</integer>
				<key>name</key>
				<string>东方</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018008</integer>
				<key>name</key>
				<string>五指山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2018009</integer>
				<key>name</key>
				<string>洋浦市/洋浦经济开发区</string>
			</dict>
		</array>
		<key>name</key>
		<string>海南</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2019</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2019001</integer>
				<key>name</key>
				<string>成都</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019002</integer>
				<key>name</key>
				<string>自贡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019003</integer>
				<key>name</key>
				<string>攀枝花</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019004</integer>
				<key>name</key>
				<string>泸州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019005</integer>
				<key>name</key>
				<string>德阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019006</integer>
				<key>name</key>
				<string>绵阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019007</integer>
				<key>name</key>
				<string>广元</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019008</integer>
				<key>name</key>
				<string>遂宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019009</integer>
				<key>name</key>
				<string>内江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019010</integer>
				<key>name</key>
				<string>乐山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019011</integer>
				<key>name</key>
				<string>南充</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019012</integer>
				<key>name</key>
				<string>眉山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019013</integer>
				<key>name</key>
				<string>宜宾</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019014</integer>
				<key>name</key>
				<string>广安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019015</integer>
				<key>name</key>
				<string>达州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019016</integer>
				<key>name</key>
				<string>雅安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019017</integer>
				<key>name</key>
				<string>巴中</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019018</integer>
				<key>name</key>
				<string>资阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019019</integer>
				<key>name</key>
				<string>西昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019020</integer>
				<key>name</key>
				<string>阿坝藏族羌族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019021</integer>
				<key>name</key>
				<string>甘孜藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2019022</integer>
				<key>name</key>
				<string>凉山彝族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>四川</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2020</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2020001</integer>
				<key>name</key>
				<string>贵阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020002</integer>
				<key>name</key>
				<string>六盘水</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020003</integer>
				<key>name</key>
				<string>遵义</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020004</integer>
				<key>name</key>
				<string>安顺</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020005</integer>
				<key>name</key>
				<string>铜仁地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020006</integer>
				<key>name</key>
				<string>黔西南布依族苗族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020007</integer>
				<key>name</key>
				<string>毕节地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020008</integer>
				<key>name</key>
				<string>黔东南苗族侗族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2020009</integer>
				<key>name</key>
				<string>黔南布依族苗族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>贵州</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2021</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2021001</integer>
				<key>name</key>
				<string>昆明</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021002</integer>
				<key>name</key>
				<string>曲靖</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021003</integer>
				<key>name</key>
				<string>玉溪</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021004</integer>
				<key>name</key>
				<string>保山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021005</integer>
				<key>name</key>
				<string>昭通</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021006</integer>
				<key>name</key>
				<string>临沧</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021007</integer>
				<key>name</key>
				<string>丽江</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021008</integer>
				<key>name</key>
				<string>普洱</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021009</integer>
				<key>name</key>
				<string>文山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021010</integer>
				<key>name</key>
				<string>西双版纳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021011</integer>
				<key>name</key>
				<string>楚雄彝族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021012</integer>
				<key>name</key>
				<string>红河哈尼族彝族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021013</integer>
				<key>name</key>
				<string>大理白族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021014</integer>
				<key>name</key>
				<string>德宏傣族景颇族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021015</integer>
				<key>name</key>
				<string>怒江傈僳族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2021016</integer>
				<key>name</key>
				<string>迪庆藏族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>云南</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2022</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2022001</integer>
				<key>name</key>
				<string>拉萨</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022002</integer>
				<key>name</key>
				<string>昌都地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022003</integer>
				<key>name</key>
				<string>山南地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022004</integer>
				<key>name</key>
				<string>日喀则地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022005</integer>
				<key>name</key>
				<string>那曲地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022006</integer>
				<key>name</key>
				<string>阿里地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2022007</integer>
				<key>name</key>
				<string>林芝地区</string>
			</dict>
		</array>
		<key>name</key>
		<string>西藏</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2023</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2023001</integer>
				<key>name</key>
				<string>西安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023002</integer>
				<key>name</key>
				<string>铜川</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023003</integer>
				<key>name</key>
				<string>宝鸡</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023004</integer>
				<key>name</key>
				<string>咸阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023005</integer>
				<key>name</key>
				<string>渭南</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023006</integer>
				<key>name</key>
				<string>延安</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023007</integer>
				<key>name</key>
				<string>汉中</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023008</integer>
				<key>name</key>
				<string>榆林</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023009</integer>
				<key>name</key>
				<string>安康</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023010</integer>
				<key>name</key>
				<string>商洛</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2023011</integer>
				<key>name</key>
				<string>杨凌</string>
			</dict>
		</array>
		<key>name</key>
		<string>陕西</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2024</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2024001</integer>
				<key>name</key>
				<string>兰州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024002</integer>
				<key>name</key>
				<string>嘉峪关</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024003</integer>
				<key>name</key>
				<string>金昌</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024004</integer>
				<key>name</key>
				<string>白银</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024005</integer>
				<key>name</key>
				<string>天水</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024006</integer>
				<key>name</key>
				<string>武威</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024007</integer>
				<key>name</key>
				<string>张掖</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024008</integer>
				<key>name</key>
				<string>平凉</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024009</integer>
				<key>name</key>
				<string>酒泉</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024010</integer>
				<key>name</key>
				<string>庆阳</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024011</integer>
				<key>name</key>
				<string>定西</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024012</integer>
				<key>name</key>
				<string>陇南</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024013</integer>
				<key>name</key>
				<string>临夏回族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2024014</integer>
				<key>name</key>
				<string>甘南藏族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>甘肃</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2025</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2025001</integer>
				<key>name</key>
				<string>西宁</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025002</integer>
				<key>name</key>
				<string>海东地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025003</integer>
				<key>name</key>
				<string>海北藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025004</integer>
				<key>name</key>
				<string>黄南藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025005</integer>
				<key>name</key>
				<string>海南藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025006</integer>
				<key>name</key>
				<string>果洛藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025007</integer>
				<key>name</key>
				<string>玉树藏族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2025008</integer>
				<key>name</key>
				<string>海西蒙古族藏族自治州</string>
			</dict>
		</array>
		<key>name</key>
		<string>青海</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2026</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2026001</integer>
				<key>name</key>
				<string>银川</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2026002</integer>
				<key>name</key>
				<string>石嘴山</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2026003</integer>
				<key>name</key>
				<string>吴忠</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2026004</integer>
				<key>name</key>
				<string>固原</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2026005</integer>
				<key>name</key>
				<string>中卫</string>
			</dict>
		</array>
		<key>name</key>
		<string>宁夏</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2027</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2027001</integer>
				<key>name</key>
				<string>乌鲁木齐</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027002</integer>
				<key>name</key>
				<string>克拉玛依</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027003</integer>
				<key>name</key>
				<string>吐鲁番地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027004</integer>
				<key>name</key>
				<string>哈密地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027005</integer>
				<key>name</key>
				<string>喀什地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027006</integer>
				<key>name</key>
				<string>和田地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027007</integer>
				<key>name</key>
				<string>石河子</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027008</integer>
				<key>name</key>
				<string>阿拉尔</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027009</integer>
				<key>name</key>
				<string>五家渠</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027010</integer>
				<key>name</key>
				<string>图木舒克</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027011</integer>
				<key>name</key>
				<string>博尔塔拉蒙古自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027012</integer>
				<key>name</key>
				<string>巴音郭楞蒙古自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027013</integer>
				<key>name</key>
				<string>阿克苏地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027014</integer>
				<key>name</key>
				<string>克孜勒苏柯尔克孜自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027015</integer>
				<key>name</key>
				<string>昌吉回族自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027016</integer>
				<key>name</key>
				<string>塔城地区</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027017</integer>
				<key>name</key>
				<string>伊犁哈萨克自治州</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2027018</integer>
				<key>name</key>
				<string>阿勒泰地区</string>
			</dict>
		</array>
		<key>name</key>
		<string>新疆</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2028</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2028</integer>
				<key>name</key>
				<string>香港</string>
			</dict>
		</array>
		<key>name</key>
		<string>香港</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2029</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2029</integer>
				<key>name</key>
				<string>澳门</string>
			</dict>
		</array>
		<key>name</key>
		<string>澳门</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2030</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2030</integer>
				<key>name</key>
				<string>台湾</string>
			</dict>
		</array>
		<key>name</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2099</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2099</integer>
				<key>name</key>
				<string>海外</string>
			</dict>
		</array>
		<key>name</key>
		<string>海外</string>
	</dict>
</array>
</plist>
